#hero img {
    width: 100%;
}

#threeimg{
    background-color: rgb(84, 84, 84);
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    margin: -5px auto;
    width: 100%;

    
}
#threeimg img{
    width: 23%;
    border-radius: 50%;
    border: 10px solid gray;
    margin: 0 20px;
}

#hfoot p { 
    text-align: center;
}
