@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');

p {font-family: "Roboto", Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6 {font-family: "Rock Salt";} /* to change things just overide*/

/*
* {
    border: 2px solid darkblue;
}
*/

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {background-color: #D4CA85;}
header {
    display: grid;
    grid-template-columns: 150px auto;
}

nav a {text-align: center; padding: 35px;}
nav a {color: #275738; text-decoration: none; font-size: 1.2em; padding: 35px;}
nav a:hover {color: #4B362A;}
nav {
    display: flex;
    justify-content: space-around;
}

main section {text-align: center;}
main section img {box-sizing: border-box;}

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

footer {background-color: #FBF8F2; padding: 25px 50px; margin-top: 200px;}
footer a {color: #275738; text-decoration: none; font-size: 1.2em;}
footer:hover {color: #4B362A;}
footer .social img {padding-top: 15px;}
footer {
    background-color: #FBF8F2;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-box {text-align: center;}

.book, .join {
    color:#275738;
    background-color: #d9c2a3; 
    text-decoration: none; 
    font-size: 1.2em;  
    padding: 15px 30px; 
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {color: #3D7E55;}

.logo {width: 80px;}

.home-title {margin-top: 10px;}

.card-img {
    border: 10px solid #4B362A;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #FBF8F2;
    width: 100%;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.icon {
    padding-top: 10px;
    display: block;
    margin: 0 auto;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}


#hero-msg h1, #hero-msg h4 {text-align: center; color: #FBF8F2;}
#hero-img {width: 100%;}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}

#hero-msg h4 {
    color: #FBF8F2;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 3fr 6/7fr 1/2fr 2fr 2/3fr 3/4fr 1fr;

}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    height: 725px;
    background-color:#275738;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    /*padding-top: 45px;*/
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color: #FBF8F2;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    line-height: 1.5em;
    color:#975D2E;
}
.msg p {padding-bottom: 15px;}

/* -------------- Galory section ----------------- */

.slideH1{
    text-align: center;
    order: 1  
}
#h1GG {
    margin-top: 50px;
    background-color: #f2f2f2;
    padding: 30px;
}
#gridGalory {
    display: grid;
    gap: 30px;
    margin-top: -25px;
    padding: 10px;
    max-width: 1600px;
    border: 10px solid #275738;
    background-color: #d9c2a3;
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: repeat(4, 250px);
    margin-bottom: -100px;
}
#gridGalory * {
    margin: 10px;
    text-align: left;
    font-size: 32px;
    max-width: 800px;
    box-sizing: border-box;
}

#mainImg {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
#mainP {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 871px;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
#GGcomment1 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}
#GGcomment2 {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}
#GGcomment3 {
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}
#GGcomment4 {
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}




        
/* Slideshow container */
.slideshow-container {
    width: calc(100%);
    position: relative;
    margin-top: 1px;
    background-color:#f2f2f2;
    
}
.slideshow-container p {
    padding: 20px;
    text-align: start;
    font-size: 35px;
}
      
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: calc(0% + 700px);
    width: auto;
    padding: 16px;
    color:#f2f2f2;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #4B362A;
    opacity: .6;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
      
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.9);
}
      
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
      
/* this is the H1 actualy */
.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: center;
    margin-top: 50px;
}
      
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
      
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* ---------------------    Form section or contact us section ------------------------ */

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
form li + li {
    margin-top: 1em;
}
  
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}
  
input, textarea {
    /* To make sure that all text fields have the same font settings
    By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
}
  
input:focus, textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}
  
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
}
  
.button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
}
  
button {
    /* This extra margin represent roughly the same space as the space
    between the labels and their text fields */
    margin-left: 0.5em;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    .prev, .next,.text {
        font-size: 11px
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
        font-family: 'Rock Salt', sand-serif;
        font-size: 2em;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}